{% extends 'base.html.twig' %}

{% block title %}Hello RequestController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
		{{ form_start(form) }}
		{{ form_widget(form)}}
		<button type="submit" class="btn btn-primary">Envoyer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
